<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Hello <%= name %></h1>
    <button>Click me but nothing will happen...</button>
    
    <ul>
        <% for (let i = 0; i < colors.length; i++) { %>
        <li><%= colors[i] %></li>
        <% } %>

    </ul>

    <img src="images/homer.png">
</body>
</html>