<header>
    <div id="logo"></div>
    <nav>
        <a href="/">Homepage</a>
        <a href="/about">About</a>
        <a href="/gallery">Gallery</a>
    </nav>
    <h1><%= pageName %></h1>
</header>